doctype html
html
  head
    link(rel="stylesheet" href="css/vendor/bootstrap.min.css")
    title #{__('authorization')}
  body
    div(class="container")
      div(class="row fn-top-panel")
        div(class="col-md-4 fn-logo")
          h1 #{__('authorization')}