doctype html
html(ng-app="fnApp")
  head
    link(rel="stylesheet" href="css/vendor/bootstrap.min.css")
    link(rel="stylesheet" href="css/style.css")
    title Finance application
  body
    div(class="container")
      div(class="row fn-top-panel")
        div(class="col-md-4 fn-logo")
          h1 Finance application
        div(class="col-md-6")
        div(class="col-md-2 fn-top-panel-user")
          span(class="pull-right" style="margin-top:20px") Колесников Владислав
          br
          button(type="button" class="btn btn-default pull-right") Выйти

      // ТАБЫ
      div(id="fn-tabs" ng-controller="TabsController as tab")

        // НАВИГАЦИЯ
        ul(id='fn-navs' class="nav nav-pills")
          li(ng-class="{ active: tab.isSelected(1) }")
            a(href ng-click="tab.selectTab(1)") Баланс
          li(ng-class="{ active: tab.isSelected(2) }")
            a(href ng-click="tab.selectTab(2)") Приходы
          li(ng-class="{ active: tab.isSelected(3) }")
            a(href ng-click="tab.selectTab(3)") Расходы

        // СТРАНИЦЫ
        div(id="fn-pages" style="margin-top:30px;")

          // БАЛАНС
          include ./pages/balance.jade

          // ПРИХОДЫ
          include ./pages/incomings.jade

          // РАСХОДЫ
          include ./pages/spendings.jade



    script(src="js/vendor/angular.min.js")
    script(src="js/vendor/jquery.min.js")
    script(src="js/app.js")